/* Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("up.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #131312;
  --secondary-text-color: #fff;
  --body-typeface: "Manrope", sans-serif;
  --background-color: #fffff9;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background: #fff16f;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

/* h1  */

.title-bold {
  font-size: 3.25rem;
  font-weight: 700;
}
.title {
  font-size: 3.25rem;
  font-weight: 400;
}

/* h2 */
.label-bold {
  font-size: 2rem;
  font-weight: 700;
}
.label {
  font-size: 2rem;
  font-weight: 400;
}

.medlabel {
  font-size: 1.5rem;
  font-weight: 400;
}

/* h3  */
.smlabel-bold {
  font-size: 1.2rem;
  font-weight: 700;
}
.smlabel {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Hyperlink Styles */
/* a {} */

a:hover,
a:active {
}
a:visited {
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
  
}

/* p  */
.body {
  font-size: 1.25rem;
}
.smbody {
  font-size: 1rem;
}
/* 
playground
██████  ██       █████  ██    ██  ██████  ██████   ██████       ██ ███    ██ ██████  
██   ██ ██      ██   ██  ██  ██  ██       ██   ██ ██    ██      ██ ████   ██ ██   ██ 
██████  ██      ███████   ████   ██   ███ ██████  ██    ██      ██ ██ ██  ██ ██   ██ 
██      ██      ██   ██    ██    ██    ██ ██   ██ ██    ██ ██   ██ ██  ██ ██ ██   ██ 
██      ███████ ██   ██    ██     ██████  ██   ██  ██████   █████  ██   ████ ██████  
   /                                                                                   */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.filterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* above css is from original demo - some of it might be able to be deleted but be careful */

/* .play-items {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.play-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.play-card img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  border-radius: 1rem;
  margin-top: 4rem;
}

.play-card:hover img {
  transform: translateY(-4px);
}

.play-hero h2 {
  text-align: center;
  padding: 2vh 5vh;
}

.play-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  line-height: 6vh;
}

.filter-btn {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: #fffff9;
}

.filter-btn:hover {
  background-color: #000; /* Green */
  color: white;
}

.filter-btn.active {
  background-color: #000; /* Green */
  color: white;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/
.work-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
}

.card {
  position: relative;
  width: calc(50% - 30px); /* 50% width with 20px gap between images */
  margin-bottom: 20px;

  @media (max-width: 700px) {
    width: 100%; /* Full width on screens less than 600px */
  }
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  border-radius: 1rem;
  text-decoration: none;
}

.card:hover img {
  transform: translateY(-4px);
}

.card p {
  text-align: left;
  margin: 10px 0;
  text-decoration: none;
}
.caption {
  padding-top: 0.5rem;
  line-height: 2rem;
  text-decoration: none;
}
.caption p {
  color: #5c5c5c;
  text-decoration: none;
}

/* 
██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██ 
██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██  
██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████   
██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██    
 ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██    
                                                                               
                                                                                */

.intro {
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding: 3rem;
}

/* Hero 
██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
*/

.hero {
  margin: 10vh 15vh;
  line-height: 8vh;
  font-size: 3.25rem;
  font-weight: 400;
  text-align: center;
}
.hero h1 {
  @media (max-width: 750px) {
    font-size: 1.8rem;
    line-height: 6vh;
    text-align: center;
  }
}

#hero {
  margin: 50px 0 0 0;
  text-align: center;
}

#text {
  display: inline-block;
  border-right: 3px solid #fff16f;
}

/* Header 


█   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██ 

                                 
*/

/* Define styles for the desktop logo */
#logo {
  display: block;
}

/* Define styles for the mobile logo */
#mobile-logo {
  display: none;
}

/* Use a media query to switch between the logos */
@media (max-width: 700px) {
  #logo {
    display: none;
  }
  #mobile-logo {
    display: block;
  }
}

.nav-item {
  font-size: 1rem;
  text-decoration: none;
  padding: 1em 2rem;
}

.logo-container {
  width: 30%;
  margin: auto;
  margin-top: 1vh;
}

.nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #c1c1c1;
  border-width: 0.5px;
  background-color: #fffff9;
}
ul.nav-menu {
  list-style: none;
  display: flex;
}

li.nav-item {
  margin-right: 20px;
}

a.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
}

a.nav-link:hover {
  background-color: #eee;
  transform: translateY(-4px);
}

a.selected {
  background-color: #fff16f;
  color: #333;
  transform: translateY(-2px);
}
/* 


 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                                                                     

*/

.about-page {
  /* background: white; */
}
.about-content {
  display: flex;
  flex-direction: row;
  margin: 0vh 10vh;

  @media (max-width: 892px) {
    flex-direction: column;
  }
}

.street-cred {
  margin-top: 5vh;
}
.about-text {
  margin-top: 5vh;
}

.experience {
  margin-top: 4vh;
  line-height: 24pt;
}

a.link-underline {
  text-decoration: underline;
  
}


.about-item {
  margin-top: 3vh;
  line-height: 24pt;
}

.bio {
  line-height: 40pt;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.footer p {
  padding-top: 2vh;
}
.footer-text {
  display: flex;
  flex-direction: column;
  @media (max-width: 700px) {
    align-items: center;
    text-align: center;
  }
  line-height: 5vh;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  border-top: solid;
  border-color: #c1c1c1;
  border-width: 0.5px;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.social-media-list {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.social-media-icon {
  padding: 0.25rem;
  font-size: 3rem;
}

.social-media-icon-link {
  color: rgb(0, 0, 0);
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/
.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}
/*

███╗   ███╗███████╗██████╗ ██╗ █████╗ 
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║█████╗  ██║  ██║██║███████║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝
                                                                               
                                           
*/

/* for nav */
@media (max-width: 700px) {
  /* body {background: rgb(100, 11, 11);} */
  .logo-container {
    width: 50%;
  }

  .nav {
    display: none;
    flex-direction: column;
    /* background-color: #ffffff; */
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .nav.active {
    display: flex;
  }

  .nav li {
    margin: 2vh;
  }
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .menu-icon {
    display: block;
    text-align: center;
  }
}

/* @media (min-width: 576px) {
 
}

/* Medium devices (tablets, 750px and up) */
@media (min-width: 750px) /* Large devices (desktops, 992px and up) */ /* @media (min-width: 992px) { } */ /* X-Large devices (large desktops, 1200px and up) @media (min-width: 1200px) { } */ /* XX-Large devices (larger desktops, 1400px and up) @media (min-width: 1400px) { } */ /* XX-Large devices (larger desktops, 1920 and up) */ @media screen (min-width: 1920px) {
}

/* playground Page Layout

██████  ██       █████  ██    ██     ██     ██  ██████  ██████  ██   ██ 
██   ██ ██      ██   ██  ██  ██      ██     ██ ██    ██ ██   ██ ██  ██  
██████  ██      ███████   ████       ██  █  ██ ██    ██ ██████  █████   
██      ██      ██   ██    ██        ██ ███ ██ ██    ██ ██   ██ ██  ██  
██      ███████ ██   ██    ██         ███ ███   ██████  ██   ██ ██   ██ 
                                                                        
                                                                        

*/

.project-info p{
  color: #5c5c5c;
  line-height: 2rem;
}

.project-info h2{
  line-height: 2rem;
  margin-top: 3rem;
}

.work-wrapper {
  flex: 1;
  background-color: #fffff9;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

/* Optional – Sizing the work page images */

/* figure {
  max-height: 250px;
  overflow: hidden;
  position: relative;
} */

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fffff9;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fffff9;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  /* min-height: 50vh; */
  /* min-height should be deleted if you want to remove space between project images on project pages */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-aside,
.project-details {
  width: 100%;
}

.project-image {
  /* min-height: 70vh; */
  /* This should be deleted if you want to remove space between project images on project pages */
}

.project-image-container {
  flex-direction: row;
}

.project-navigation {
  justify-content: flex-start;
}

.arrow {
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */

  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image {
    /* min-height: 70vh; */
    /* This should be deleted if you want to remove space between project images on project pages */
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }
}
